<a href="https://www.hillcrestsports.com/rentals/" title="rentals" id="rentals-link" style="
    
    background-color: #a4e542;
    position: fixed;
    z-index: 9999;
    text-transform: uppercase;
    left: -48px;
    color: white;
    font-size: 27px;
    font-weight: 600;
    top: 35%;
    transform: rotate(-90deg);
    padding-left: 8px;
    padding-right: 8px;

">
    Rentals
</a>

<div class="body {{#if template_file '===' 'pages/home'}}home{{/if}}" data-currency-code="{{currency_selector.active_currency_code}}" style="padding-top: 0px;">
    {{#block "hero"}} {{/block}}
    {{#block "page"}} {{/block}}
    {{#block "hero-bottom"}} {{/block}}
    {{> components/common/modal}}
    {{> components/common/alert-modal}}
</div>
